@import url('./variables.css');

/* *{
  box-sizing:border-box;
}*/


.container{
  display:flex;
  gap:30px;
  /*padding:30px;*/
  padding: 50px var(--white-space);
}

/* PRODUCTS */

.products{
  flex:2;
}

h1{
  font-size: larger;
  font-weight: bolder;
  padding-bottom: 20px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(220px,1fr));
  gap:20px;
}

.card{
  position: relative;
   /*border-radius:12px;
  padding:10px;
  box-shadow:0 4px 10px rgba(0,0,0,0.08);*/
}

.card img{
  display: block; /*for the addtocartbutton to be on the image*/
  width:100%;
  height:160px;
  object-fit:cover;
  border-radius:8px;
}

.card button{
  position: absolute;
  bottom: 15px;         /*distance from bottom of image */
  left: 50%;             /* move to middle */
  transform: translateX(-50%); /* perfect centering */
  padding: 10px 18px;
  border-radius: 25px;
  color: black;
  background-color: white;
  border: 1px solid var(--red);
  font-weight: var(--font-medium);
}

.card h3{
  font-size: medium;
  font-weight: var(--font-medium);
}

.card p{
  color: var(--red);
  font-weight: var(--font-medium);
 
}

button{
  cursor:pointer;
  border:none;
  padding:8px 12px;
  border-radius:8px;
  background:#c2410c;
  color:white;
}

/* CART */

.cart{
  flex:1;
  padding:20px;
  border-radius:12px;
  box-shadow:0 4px 10px rgba(0,0,0,0.08);
  height:fit-content;
  width: 100px;
}

.cart-item{
  display:flex;
  justify-content:space-between;
  margin-bottom:12px;
}

.cart h2{
  color: var(--red);
  font-weight: var(--font-medium);
}

.controls button{
  margin:0 4px;
}

.remove{
  background:red;
}

/* MODAL */

.modal-backdrop{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.4);
  display:flex;
  justify-content:center;
  align-items:center;
}

.modal{
  background:white;
  padding:40px;
  border-radius:12px;
}

.modal h2{
  font-weight: var(--font-medium);
}

/* MOBILE */

@media(max-width:900px){
  .container{
    flex-direction:column;
  }
}